* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  color: #ffffff;
  font-size: 24px;
}

html, body {
  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #000000;
}

.header {
  width: 100%;
  justify-content: center;
  border-radius: 6px;
  height: 20%;
  display: flex;
  align-items: center;
  background-color: #363636;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 10px;
  height: 50%;
}

.nav {
  border-radius: 6px;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #363636;
}

.section {
  border-radius: 6px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aside {
  border-radius: 6px;
  width: 20%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #363636;
}

.header-section {
  border-radius: 6px;
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}

.article-section {
  border-radius: 6px;
  height: 50%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}

.footer-section {
  border-radius: 6px;
  height: 25%;
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
}

.footer {
  width: 100%;
  justify-content: center;
  border-radius: 6px;
  height: 20%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  background-color: #363636;
}
